---
import { Image } from "astro:assets";
import Base from "../layouts/Base.astro";
import anreisePlan from "../assets/images/anreise.jpeg";
---

<Base>
  <main>
    <a href="/">&lt; Home</a>
    <h2>Anreise</h2>
    <p>
      Das Camp liegt in Stadecken-Elsheim, also ca. 10km süd-westlich von
      Mainz. Die genaue Adresse lautet
    </p>
    <address>
      DPSG Greifenhorst<br />
      St. Georgsweg 1<br />
      Stadecken-Elsheim 55270<br />
      Deutschland
    </address>
    <h3>Mit dem Auto</h3>
    <p>
      Zu dem Camp kann man mit dem Auto kommen. Hierfür gibt es einen
      öffentlichen Parkplatz in der Nähe (siehe Anreiseplan). Ihr könnt wie
      auf dem Plan beschrieben auch hinter fahren um euer Zeug in der Nähe des
      Schlafplatzes abzuladen. Das Befahren des Zeltplatzes und ebenso das
      Parken ist allerdings nicht gestattet.
    </p>
    <h3>Mit dem ÖPNV</h3>
    <p>
      Außerdem fährt die Buslinie 630 direkt vom Mainzer Hauptbahnhof (meist
      in Richtung Bad Kreuznach) zu der Bushaltestelle "Ehrensäule" von der es
      nur noch 6 Minuten zu Fuß zum Zeltplatz sind. Da die Abfahrten des
      Busses an jedem der Veranstaltungstage unterschiedlich sein werden,
      empfehlen wir hier stets auf die Anweisungen der ÖPNV-App des Vertrauens
      zu achten.
    </p>
    <h3>Anreiseplan</h3>
    <Image
      src={anreisePlan}
      format="webp"
      widths={[320, 480, 640, 800, 1024, 1280, 1600]}
      sizes="(min-width: 700px) 640px, 100vw"
      alt="Plan mit allen Anfahrtswegen für das Camp"
    />
  </main>
</Base>
