---
import "../styles/global.css";

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>N50CAMP</title>
  </head>
  <body>
    <header>
      <img src="/images/n50campLogo.svg" alt="n50camp Logo">
    </header>
    <main style="padding-top: 0;">
        <a href="/">&lt; Home</a>
        <h2>Anreise</h2>
        <p>Das Camp liegt in Stadecken-Elsheim, also ca. 10km süd-westlich von Mainz. Die genaue Adresse lautet</p>
        <address>
            DPSG Greifenhorst<br>
            St. Georgsweg 1<br>
            Stadecken-Elsheim 55270<br>
            Deutschland
        </address>
        <h3>Mit dem Auto</h3>
        <p>Zu dem Camp kann man mit dem Auto kommen. Hierfür gibt es einen öffentlichen Parkplatz in der Nähe (siehe Anreiseplan). Ihr könnt wie auf dem Plan beschrieben auch hinter fahren um euer Zeug in der Nähe des Schlafplatzes abzuladen. Das Befahren des Zeltplatzes und ebenso das Parken ist allerdings nicht gestattet.</p>
        <h3>Mit dem ÖPNV</h3>
        <p>Außerdem fährt die Buslinie 630 direkt vom Mainzer Hauptbahnhof (meist in Richtung Bad Kreuznach) zu der Bushaltestelle "Ehrensäule" von der es nur noch 6 Minuten zu Fuß zum Zeltplatz sind. Da die Abfahrten des Busses an jedem der Veranstaltungstage unterschiedlich sein werden, empfehlen wir hier stets auf die Anweisungen der ÖPNV-App des Vertrauens zu achten.</p>
        <h3>Anreiseplan</h3>
        <img src="/images/anreise.jpeg" alt="Plan mit allen Anfahrtswegen für das Camp">
    </main>
    <footer>
      <nav aria-label="Rechtliche Informationen">
        <a href="https://n50.lat/privacypolicy.html">Datenschutzerklärung</a>
        <a href="https://n50.lat/imprint.html">Impressum</a>
        <a href="https://github.com/zebreus/n50-camp">Seite bearbeiten</a>
      </nav>
    </footer>
  </body>
</html>