---
import { Image } from "astro:assets";
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import pulliSchwarz from "../assets/images/pullischwarz.webp";
import pulliWeiss from "../assets/images/pulliweiß.webp";
import shirtSchwarz from "../assets/images/shirtschwarz.webp";
import shirtWeiss from "../assets/images/shirtweiß.webp";
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>N50CAMP</title>
  </head>
  <body>
    <Header />
    <main>
      <a href="/">&lt; Home</a>
      <h2>Merch</h2>
      <p>
        Frischer Merch - heiß und fettig! Vorzubestellen bis zum 27.06. um 20
        Uhr in <a href="https://tickets.n50.lat/n50/n50camp/"
          >unserem Ticket-Shop</a
        >
      </p>
      <h3>Pullis (53€)</h3>
      <Image src={pulliSchwarz} format="webp" alt="Pulli in schwarzem Design" />
      <Image src={pulliWeiss} format="webp" alt="Pulli in weißem Design" />
      <h3>Shirts (24€)</h3>
      <Image src={shirtSchwarz} format="webp" alt="Shirt in schwarzem Design" />
      <Image src={shirtWeiss} format="webp" alt="Shirt in weißem Design" />
    </main>
    <Footer />
  </body>
</html>
