---
import type { TentPlacement } from "./tent";
import { tentStyle } from "./tent";
type Props = TentPlacement;
const props = Astro.props;
---

<div class:list={["tent", { "hero-only": props.heroOnly }]} style={tentStyle(props)}>
  <div
    class="face"
    style="width:754.92px;height:291.38px;transform:translate3d(-377.47px,-206.04px,-71.78px) rotateX(45.07deg)"
  />
  <div
    class="face face--foot"
    style="width:754.92px;height:56.86px;transform:translate3d(-377.47px,206.40px,-72.62px) rotateX(-10.46deg)"
  />
  <div
    class="face"
    style="width:754.92px;height:292.57px;transform:translate3d(-377.47px,-0.24px,134.50px) rotateX(-45.07deg)"
  />
  <div
    class="face"
    style="width:754.92px;height:369.96px;transform:translate3d(-377.47px,-262.08px,-84.26px) rotateX(44.95deg)"
  />
  <div
    class="face face--foot"
    style="width:754.92px;height:57.41px;transform:translate3d(-377.47px,-262.08px,-84.26px) rotateX(12.55deg)"
  />
  <div
    class="face"
    style="width:754.92px;height:369.54px;transform:translate3d(-377.47px,-0.24px,177.10px) rotateX(-44.72deg)"
  />
  <div class="caps" style="transform:rotateY(90deg)">
    <div
      class="cap"
      style="width:261.36px;height:524.40px;transform:translate3d(-177.10px,-262.08px,377.45px)"
    >
      <svg viewBox="0 0 261.36 524.40">
        <polygon points="261.36,0.00 0.00,261.84 260.04,524.40 249.72,468.48 42.60,261.84 248.88,56.04" />
      </svg>
    </div>
    <div
      class="cap"
      style="width:261.36px;height:524.40px;transform:translate3d(-177.10px,-262.08px,-377.47px)"
    >
      <svg viewBox="0 0 261.36 524.40">
        <polygon points="261.36,0.00 0.00,261.84 260.04,524.40 249.72,468.48 42.60,261.84 248.88,56.04" />
      </svg>
    </div>
  </div>
</div>
