---
import type { TentPlacement } from "./tent";
import { tentStyle } from "./tent";
type Props = TentPlacement;
const props = Astro.props;
---

<div class:list={["tent", { "hero-only": props.heroOnly }]} style={tentStyle(props)}>
  <div
    class="face"
    style="width:503.28px;height:301.48px;transform:translate3d(-251.69px,-213.22px,-74.10px) rotateX(45.08deg)"
  />
  <div
    class="face face--foot"
    style="width:503.28px;height:49.36px;transform:translate3d(-251.69px,213.62px,-75.06px) rotateX(-9.23deg)"
  />
  <div
    class="face"
    style="width:503.28px;height:302.92px;transform:translate3d(-251.69px,-0.34px,139.38px) rotateX(-45.06deg)"
  />
  <div
    class="face"
    style="width:503.28px;height:369.79px;transform:translate3d(-251.69px,-262.06px,-84.18px) rotateX(44.95deg)"
  />
  <div
    class="face face--foot"
    style="width:503.28px;height:49.87px;transform:translate3d(-251.69px,-262.06px,-84.18px) rotateX(11.66deg)"
  />
  <div
    class="face"
    style="width:503.28px;height:369.62px;transform:translate3d(-251.69px,-0.34px,177.06px) rotateX(-44.71deg)"
  />
  <div class="caps" style="transform:rotateY(90deg)">
    <div
      class="cap"
      style="width:261.24px;height:524.40px;transform:translate3d(-177.06px,-262.06px,251.59px)"
    >
      <svg viewBox="0 0 261.24 524.40">
        <polygon points="261.24,0.00 0.00,261.72 260.04,524.40 252.12,475.68 37.68,261.72 251.16,48.84" />
      </svg>
    </div>
    <div
      class="cap"
      style="width:261.24px;height:524.40px;transform:translate3d(-177.06px,-262.06px,-251.69px)"
    >
      <svg viewBox="0 0 261.24 524.40">
        <polygon points="261.24,0.00 0.00,261.72 260.04,524.40 252.12,475.68 37.68,261.72 251.16,48.84" />
      </svg>
    </div>
  </div>
</div>
